In [2]:
import numpy as np
import pandas as pd

In [53]:
df = pd.read_csv("data/subTask-B-HSNOT_HS.csv")

In [55]:
df.head()

                                              Tweets  HS
0                              العمل مساله غيره فنيه   0
1  المعيار والمقياس للحكم الله رسول الله مجلس الا...   0
2  تركيا دوله مسلمه منت بقد افعالها ومعاركها وانت...   1
3                                         والله اهدا   0
4                             يباله شان يرد عقله شوي   0

In [56]:

df_clean = df.rename(columns={'HS': 'Toxic/Not Toxic'})
df_clean = df_clean.rename(columns={'Tweets': 'Text'})

In [57]:
# Get the unique values in 'column1'
unique_values = df_clean['Toxic/Not Toxic'].unique()

# Print the unique values
print("Unique values in column1:", unique_values)

Unique values in column1: [0 1]

In [58]:
num_toxic = df_clean['Toxic/Not Toxic'].value_counts()[1]
print(f"Il y a {num_toxic} lignes étiquetées comme toxiques.")
num_toxic = df_clean['Toxic/Not Toxic'].value_counts()[0]
print(f"Il y a {num_toxic} lignes étiquetées comme non toxiques.")

Il y a 2975 lignes étiquetées comme toxiques.
Il y a 2957 lignes étiquetées comme non toxiques.

In [59]:
df_clean

                                                   Text  Toxic/Not Toxic
0                                 العمل مساله غيره فنيه                0
1     المعيار والمقياس للحكم الله رسول الله مجلس الا...                0
2     تركيا دوله مسلمه منت بقد افعالها ومعاركها وانت...                1
3                                            والله اهدا                0
4                                يباله شان يرد عقله شوي                0
...                                                 ...              ...
5927  بايع الكليجا عشانا قلنا مزيون خليتونا كفار قري...                1
5928               يلا خنزير الله يرحم صدام حسين داعسكن                1
5929                  بايع الكليجا انحدار اخلاقي شنيييع                0
5930                                     انزلع مليت منك                0
5931  غريبين انتم اهل الجزيره العربيه بتجوا لتعايروا...                1

[5932 rows x 2 columns]

In [60]:
# Enregistrer la dataframe nettoyée dans un fichier CSV
df_clean.to_csv('clean/subTask-B-HSNOT_HS_nettoye.csv', index=False)